*, *::before, *::after {
  box-sizing: border-box;
  font-family: courier;
}

body {
  background-color: hsl(255, 80%, 94%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-size: 7.5vmin;
}

.lose {
  font-family: courier;
  display: flex;
  justify-content: center;
  align-items: center;
  color:hsl(230, 80%, 52%);
}

.score{
  display: flex;
  justify-content: right;
  align-items: center;
  font-family: courier;
  font-size: 20px;
  color:hsl(230, 80%, 52%);
  padding-right: 5%;
}


.game-board {
  display: grid;
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  background-color: hsl(230, 80%, 90%);
  gap: var(--cell-gap);
  border-radius: 5vmin;
  padding: var(--cell-gap);
  position: relative;
}

.cell {
  background-color: hsl(230, 80%, 50%);
  border-radius: 10vmin;
}

.tile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
  border-radius: 10vmin;
  top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  font-weight: bold;
  background-color: hsl(230, 80%, var(--background-lightness));
  color: hsl(200, 25%, var(--text-lightness));
  animation: show 200ms ease-in-out;
  transition: 100ms ease-in-out;
}

@keyframes show {
  0% {
    opacity: .5;
    transform: scale(0);
  }
}